
@{ ViewData["Title"] = "Tables"; ViewData["Consu"] = "active";}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Authors table</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Module</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Responsable</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">DS1</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">DS2</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">RAT</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mod in Model.modules)
                                {
                                <tr>
                                    <td>
                                        <h6 class="mb-0 text-sm">@mod.nom</h6>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">
                                        @foreach (var prof in Model.professeurs)
                                        {
                                            @if (prof.id == @mod.id_professeur)
                                            {
                                                <span>@prof.nom @prof.prenom</span>
                                            }
                                        }
                                        </p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4">
                                            <i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i>
                                            PDF
                                        </button>
                                    </td>
                                    <td class="align-middle text-center">
                                        <button class="btn btn-link text-light text-sm mb-0 px-0 ms-4">
                                            <i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i>
                                            PDF
                                        </button>
                                    </td>
                                    <td class="align-middle text-center">
                                        <button class="btn btn-link text-light text-sm mb-0 px-0 ms-4">
                                            <i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i>
                                            PDF
                                        </button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
