<h1>Login</h1>
<form method="post">
    <input class="form-control" type="text" name="user" placeholder="Username" />
    <input class="form-control" type="password" name="pass" placeholder="Password" />
    <br/>
    <button class="btn btn-success">Sign in</button>
</form>
